@media only screen and (max-width:320px) {
    .nav320px {
        width: 100% !important;
    }
}

@media only screen and (max-width:550px) {
    .width550px {
        width: 100% !important;
    }

}

@media only screen and (min-width:550px) {
    .minpadding550px {
        padding-top: 70px !important;
        padding-bottom: 70px !important;
    }

}


@media only screen and (max-width:400px) {
    .nav400px {
        font-size: small !important;
    }
}

.scrollbar-none {
    scrollbar-width: none;
}